.p11{
    animation-name: transp1;
    animation-duration: 22s;
    animation-iteration-count: infinite;
    
}

@keyframes transp1{
    0%{
      opacity:0%;
    } 
    10%{
        opacity: 100%;
    }
    20%{
        opacity: 0%;
    }
    100%{
        opacity: 0%;
    }
}

.p12{
    animation-name: transp2;
    animation-duration: 22s;
    animation-iteration-count: infinite;
}

@keyframes transp2{
    0%{
      opacity:0%;
    } 
    20%{
        opacity: 0%;
    }
    30%{
        opacity: 100%;
    }
    40%{
        opacity: 0%;
    }
    100%{
        opacity: 0%;
    }
}

.p13{
    animation-name: transp3;
    animation-duration: 22s;
    animation-iteration-count: infinite;
}

@keyframes transp3{
    0%{
      opacity:0%;
    } 
    40%{
        opacity: 0%;
    }
    50%{
        opacity: 100%;
    }
    60%{
        opacity: 0%;
    }
    100%{
        opacity: 0%;
    }
}

.p14{
    animation-name: transp4;
    animation-duration: 22s;
    animation-iteration-count: infinite;
}

@keyframes transp4{
    0%{
      opacity:0%;
    } 
    60%{
        opacity: 0%;
    }
    70%{
        opacity: 100%;
    }
    80%{
        opacity: 0%;
    }
    100%{
        opacity: 0%;
    }
}

.p15{
    animation-name: transp5;
    animation-duration: 22s;
    animation-iteration-count: infinite;
}

@keyframes transp5{
    0%{
      opacity:0%;
    } 
    80%{
        opacity: 0%;
    }
    90%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
    100%{
        opacity: 0%;
    }
}

